cub3d
obj/
cub3d.dSYM
.DS_STORE
.vscode/
testmap.cub
inc/libft/libft.a
include/libft/libft.a
mlx/font.c
mlx/font.xcf
mlx/libmlx.a
mlx/Makefile
mlx/mlx_init_loop.m
mlx/mlx_init_loop.o
mlx/mlx_int_str_to_wordtab.c
mlx/mlx_int_str_to_wordtab.o
mlx/mlx_int.h
mlx/mlx_mouse.m
mlx/mlx_mouse.o
mlx/mlx_new_image.m
mlx/mlx_new_image.o
mlx/mlx_new_window.h
mlx/mlx_new_window.m
mlx/mlx_new_window.o
mlx/mlx_opengl.h
mlx/mlx_opengl.m
mlx/mlx_png.c
mlx/mlx_png.h
mlx/mlx_png.o
mlx/mlx_rgb.c
mlx/mlx_shaders.c
mlx/mlx_shaders.o
mlx/mlx_xpm.c
mlx/mlx_xpm.o
mlx/mlx.h
include/minilibx/libmlx.a
